{% extends "base.html" %}
{% block content %}
{% if success %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Success !!</strong> Post Saved {{ success }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}

    <h2 class="text-center">Welcome to Todo List - Add a Task </h2>


<form action="/" method="post">
    {% csrf_token %}

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Task Title</label>
        <input type="text" class="form-control" name="title" id="task_title" placeholder="Enter the Task">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Task Description </label>
        <textarea class="form-control" id="desc" name="desc" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Add Task</button>

</form>
    

{% endblock %}
 